/* En-têtes */
.admin-container table thead {
  background-color: #020617;
}

.admin-container table th,
.admin-container table td {
  padding: 0.9rem 1rem;
  text-align: left;
  color: #e5e7eb;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #334155;
}

/* Hover sur les lignes */
.admin-container table tbody tr:hover {
  background-color: #1f2933;
}


/* Si tu veux gérer la responsive sur petits écrans*/
@media screen and (max-width: 600px) {
  .admin-container table th,
  .admin-container table td {
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
  }

  .admin-container table td.actions {
    width: 80px;
  }
}