<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Bienvenue sur DentiLib</title>
  </head>
  <body>
    <p>Bonjour {{firstName}},</p>
    <p>Votre compte DentiLib a été créé avec succès.</p>
    <p>Voici vos identifiants :</p>
    <ul>
      <li>Email : {{email}}</li>
      <li>Mot de passe : {{password}}</li>
    </ul>
    <p>Vous pouvez vous connecter ici : 
    <a href="https://dentilib-h17y.onrender.com" target="_blank">https://dentilib-h17y.onrender.com</a>
  </p>
  </body>
</html>